/*display and visibility hidden*/
.review-slider .flex-control-paging{display: none;}
/*box-sizing*/
body,.ie-contact-form .wpcf7-form-control,.related-post img,.recent-post-img,.license-box,.action-meta-box,.action-rating,.action-download-stat,.license-td,.action-list-item-td,.mask,.portfolio-item-title,
.overlay,.fixed-menu,.my-plan .active,.pricing-tbl 
{box-sizing: border-box;}
/*opacity 0*/
.mask,.overlay{opacity: 0}
/*overflow*/
.related-post-block,.screen-reader-text{overflow: hidden;}
html,body{overflow-x: hidden;}
body{overflow-y: hidden;}
/*opacity*/
.btn-download:hover,.theme-btn-dark:hover,.action-btn:hover,.portfolio-item:hover .mask{opacity: 1;}
/*position*/
.more-post-share,.mask,.portfolio-item-title,#workflow .flex-control-nav,
.ie-icon,.ie-contact-info img,.price-tag,.price-tag-bg,.action-group,
.round-box,.screen-reader-text
{position: absolute;}
.fixed-menu,.iso-pdf{position:fixed;}
body,.footer,.flex-active-slide,.volume-block,.ie-support-block,.ie-support,.ie-supports .btn-support,.portfolio-item,
.log-posts,.related-post-block,.service-order,#workflow,.features-item,.review-wraper
{position: relative;}
/*float*/
.tagline-group,.ie-hotline,.pricing-tbl-sm,.pricing-tbl-col,
.faq-list li::before
{float:left;}
#navcollapse,.arw-stroke,.startup-img,.main-nav,.service-sm-dark img,.btn-plan i,.pricing-tbl-lg,.form-arw
{    float: right;}

/*z-index*/
body.modal-open div.modal-backdrop,div.modal div.modal-backdrop{z-index: 0;}
.price-tag-bg,.ie-flexslider .flex-prev,.ie-flexslider .flex-next{z-index:1}
.price-tag{z-index:2}
.ie-support,.mask{z-index: 99;}
.iso-pdf,.screen-reader-text:focus,.fixed-menu{z-index: 100;}



 
/*clear*/
.clear{clear: both;}
/*display*/
.short-spanl,
.trial-pop .trial-title,.trial-pop .close-btn,.test-btn,
.mask,.overlay,.partner-link,.fast-featur,
.dashed,.ie-icon,.discount-block-icon,.lay-linee-icon,.pricing-tbl-icon,.grid-hl,.support-mega-icon,
.round-box,.lay-line,.screen-reader-text:focus,
.ie-flexslider .flex-prev,.ie-flexslider .flex-next,
.this-post img,.recent-post-date,
.help-topic-icon,.sm-line
{   display: block;}
.vl,.site-logo,.losted-img,.common-faq-icon{display: inline-block;}
.license-td,.action-list-item-td{display: table-cell;}
/*max-width*/
.this-post figure,.this-post img,.recent-post-li img{max-width: 100%;}
/*top*/
.mask,.ie-icon,.ie-contact-info img,.overlay,.price-tag,.price-tag-bg,.fixed-menu {top: 0;}
/*left*/
.footer,.mask, .ie-contact-info img,.service-order-img img,.overlay{  left: 0;}
/*right*/
.popup-overlay,.payment-opts,.action-group{right: 0;}
/*width*/
body,.ie-contact-form .wpcf7-form-control,.related-post img,.recent-post-img,.license-box,.action-meta-box,.action-rating,.action-download-stat,.license-td,.action-list-item-td,.mask,.portfolio-item-title,
.overlay,.fixed-menu,.my-plan .active,.pricing-tbl, .contact-form-sm input,.contact-form-sm textarea,.contact-form-sm .wpcf7-submit
{width: 100%;}
.portfolio-item img,.theme-btn-dark,.ie-pricing .order-btnm.screen-reader-text:focus,.service-order-img img{
    width: auto;
}
/*height*/
body,.footer,.portfolio-item img,.mask,.overlay,.workflow-block,.flex-wraper{height: 100%;}
.workflow-block,.flex-wraper{ height: 100vh;   }
.this-post img,.recent-post-li img,#workflow .flex-control-nav,.tab-content .pricing-tbl-head,.screen-reader-text:focus{height: auto;}
/*margin*/
body,.page-header,.time-lbl,.price-lbl,.btn-plan,.price-lbl-title,.post-date,.service-order-action ul{margin: 0;}
.ie-support,.partner-link,.container-fluid,.order-btn,.features-item-icon,.discount-block-icon,.features-item-head img,
.fast-feature-icon,.review-wraper img,.lay-line,.partner-link,.help-topic-icon,
.service-banner-li img
{margin: 0 auto;}
/*padding*/
body,.footer-link-block,.contact-form-sm ul{padding:0}
/*list style */
ul li{list-style: none;}
.this-post ul li{list-style: disc;}
/*background*/
.btn-tab:hover,.btn-tab:focus,.btn-tab:active,.ie-supports .features-item:hover .btn-support,
.quote-btn,.acnt-btn,.test-btn,.order-btn,.btn-tab:hover,.btn-tab:focus,.btn-tab:active,
.ie-contact-form .wpcf7-submit,.ie-pricing:hover .order-btn,.ie-pricing .order-btn:hover,
.highlight-txt,div.wpcf7-mail-sent-ok,.contact-form-sm .wpcf7-submit
{background: #f15b22;}
.btn-trial-a,.page-main,#contact-main,.ie-contact-info,#policy-main,
.pricing-tbl,.ie-support,#partners-sec,.pricing-tbl-wraper,.pricing-tbl-inner,.pricing-tbl-lower,.ecomrc-block,.service-list-block,#faq-main{background: #fff}
/*border*/
.ie-contact-form .wpcf7-form-control:focus,#faqAccordion .panel,.btn-plan,.ie-pricing .order-btn,.footer-link-block a{ border: none;}
/*transform*/
/*box shadow*/

/*font-size*/
html {-webkit-font-smoothing: antialiased;font-smoothing: antialiased;}
html,body{font-size: 16px;}
.widget .cat-item a:before
{font-size: .7rem;} /*font-size: 11px*/
h6{font-size: 0.8125rem;}/*font-size: 13px*/
.service-details-link,.step-txt .flex-direction-nav .flex-next{font-size: 0.875rem;}/*font-size: 14px*/
.navbar .order-btn>a{font-size: .9375rem;}/*font-size: 15px*/
.this-post-info p,.this-post-info a,.this-post-date,.share-icon,
#widget-area .cat-item a,.recent-post-title,.action-meta-td,
.btn-download,.action-right,.portfolio-item-title h4,
.ie-contact-form .wpcf7-form-control,.ie-contact-form label,
.service-order-txt,.ie-vision .features-item-title, .ie-vision .features-item p,
.btn-tab,.service-order .order-btn,#widget-area .cat-item a,.action-right,.portfolio-item-title h4
{font-size: 1rem;}
.login-menu,.price-tag h4,li,p{font-size: 1.0625rem;}/*font-size: 17px;*/
.ie-support-block p,.up-txt,.help-topic-title {font-size: 1.1rem;}/*font-size: 17.6px*/
.footer-link-block,.discount-block-txt,.discount-block-list li{font-size: 1.125rem}/*font-size: 18px;*/
.recent-post-date,.mask p,.time-lbl,.price-lbl,div.wpcf7-mail-sent-ok,
.contact-form-sm .wpcf7-submit
{font-size: 1.2rem;}/*font-size: 19px*/
#partners-sec p,.volume-block-txt,.service-order-head p,.workflow-tagline,.ie-location,.fast-feature,.ecomrc-txt,
 .ie-handy-link-a
{font-size: 1.25rem;}/*font-size: 20px*/
.more-post-share .share-icon,.theme-btn-dark,.widget-title,.license-title{font-size: 1.3rem;}/*font-size: 20.8px*/
.btn-support,quote-btn,.acnt-btn,.lite-txt,.service-sm-tagline,
.review-txt,.features-item-title,.discount-block-title,.post-date
{font-size: 1.375rem;}/*font-size: 22px*/
.page-banner-tagline,.close-btn,.ing:before,.price-lbl-title,.print-btn i,.share-icon,.log-year,.service-order-title,.action-btn
{font-size: 1.5rem;}/*font-size: 24px*/
.ie-achievement-txt,.review-name,.time-feature-block-txt,.common-faq-topics-title,
.faq-q
{font-size: 1.5625rem;}/*font-size: 25px*/

.trial-block-title,.this-post-title,.license-price,
.ie-support-title,.ie-contact-form .wpcf7-submit,.test-btn,
.order-btn,#entry-content p,.more-link,.post-title-link
{font-size: 1.875rem;}/*font-size: 30px*/
.price-tag span{font-size: 1.9375rem;}/*font-size: 31px*/
.policy-title,.ie-contact-title,.footer-mid-item i,.play-icon,footer .share-icon,.trial-block-title,.this-post-title,.license-price,.contact-form-sm-title,
.faq-list li::before
{font-size:2rem;}/*font-size: 32px*/

.more-post-title{font-size: 2.77rem;}/*font-size: 44px*/
.volume-block-title,.payment-method-item i,.page-header,.post-count,.time-feature-block-title{font-size: 3rem;}/*font-size: 48px*/
.ie-achievement-count,.lite-txt span{font-size: 3.125rem;}/*font-size: 50px*/
.ie-support-i { font-size: 4rem;}/*font-size: 64px*/
#partners-sec h3,.page-banner-title,.page-main-title,.service-sm-title,.ecomrc-title{ font-size: 4.375rem;}/*font-size: 70px*/
.review-icon,.review-title,.support-mega-icon{font-size: 5rem;}/*font-size: 80px*/
.big-icon{font-size: 10rem;}/*font-size: 160px*/
/* line-height*/
.recent-post-title{line-height: 1rem;}
.time-lbl,.price-lbl{line-height: 1.2rem; }
p,.discount-block-title,.license-title{line-height: 1.8675rem;}
.features-item{line-height:1.9rem;}
.discount-block-txt,.discount-block-list,.ecomrc-txt{line-height:2.1rem;}
.page-banner-tagline,.workflow-tagline{line-height:2.25rem;}
.entry-title,.more-post-title,.contact-form-sm-title{line-height: 3rem;}
.lite-txt,.lite-txt span,.ie-achievement-count,.ie-achievement-txt,.fast-feature {line-height: 3.125rem;}
.page-main-title,.ecomrc-title{ line-height: 5rem;}
.workflow-title{line-height: 6.25rem;}

/*font-weight*/
.twin-service,.recent-post-title,.action-meta-name,.license-title,.license-price,
.btn-download,.mask p,.portfolio-item-title h4,.support-contact,.quote-btn,.acnt-btn,
.theme-btn-dark,.ie-contact-form .wpcf7-submitm,.ie-location,.fast-feature,.test-btn,.price-lbl-title,.navbar .order-btn>a,
.ie-pricing:hover .price-lbl,.menu-item a,.features-item-title,.order-btn,
.service-details-link,.price-tag span,.flex-next,.discount-block-title,.page-header,.post-count,.log-year,.intro-block-txt a,.faq-block-title,.sec-title,.bold-em,strong.search-highlight,.action-btn,.read-more,
.ecmrc-name,.entry-title,.up-txt,.help-topic-title, .ie-handy-link-a,
.contact-form-sm .wpcf7-submit,.faq-list li::before,
.map-station-name
{font-weight: bold;}
.discount-block-txt,.discount-block-list{font-weight: normal;}
#partners-sec p,.service-order-title,.service-order-txt{font-weight: 300;}
/*font-family*/
body{font-family: 'Palanquin', sans-serif;}
h1,.order-btn{font-family: 'Raleway', sans-serif;}
.flex-wraper{font-family: 'Quattrocento', serif;}
.share-icon,.widget .cat-item a:before,.ing:before{font-family: FontAwesome;}
/*content*/
/*text-align*/
.ie-pricing,.order-btn,.center,.footer-mid-item,.features-item-body,.discount-block-title,.log-year,.features-item,.support-main-block,.fast-feature-item,.tnc-topic-list..action-btn,
.features-item p,.features-item .more-link,.price-tag,.ecomrc-block,.flex-wraper,
.navbar-nav>li,.widget-title,.download-box,.btn-download,.action-right,.ie-support,
.portfolio-item,.mask p,.portfolio-item-title,#partners-sec,#partners-sec h3,.btn-trial-a,.volume-block-title,.workflow-head,#workflow .flex-control-nav,.theme-btn-dark,.page-banner,.ie-contact-form .wpcf7-submit,
.page-main-head,.service-order-head,#thnku-main,.close-menu,.review-wraper,
#contact-center,.help-topic-block,.common-faq-topics-title,
.contact-form-sm .wpcf7-submit
{text-align: center;}
.login-menu, .service-order-action{text-align: right;}
#about-main .page-main-txt,.faq-list-li{text-align: justify;}
/*text-transform*/
.menu-item a,.order-btn,.tutorial-link,#partners-sec h3{text-transform: uppercase;}
.btn-plan{text-transform: capitalize!important;}
/*font-style*/
.read-more,.ecmrc-name,.trial-block-title,.this-post-date,.recent-post-date,
.support-contact,.quote-btn,.acnt-btn,.volume-block-txt,.page-banner-tagline,
.ie-contact-form .wpcf7-submit,.service-sm-tagline,.test-btn,.bold-em,
.contact-form-sm .wpcf7-submit
{ font-style: italic;}
.volume-block-txt span{font-style: normal;}
/*color*/
.btn-tab,.btn-tab:hover,.btn-tab:focus,.btn-tab:active,.btn-download,.btn-download:hover,
.action-btn,.action-btn:hover,.acnt-btn,.acnt-btn:hover,.quote-btn,.quote-btn:hover,
.btn-support,.theme-btn-dark,.theme-btn-dark:hover,.test-btn,.test-btn:hover,.order-btn,
.navbar .order-btn>a,.navbar .order-btn:hover,.ie-pricing:hover .order-btn,.ie-pricing .order-btn:hover,
.time-feature-block-title,.log-year,
.volume-block,.volume-block-txt,.ie-supports .features-item:hover .btn-support,.mask p,.portfolio-item-title h4,.ie-achievement-txt,.page-banner-title,.page-banner-tagline,
.ie-contact-form .wpcf7-submit,.fast-feature,.review-txt,
.review-title,.categories .semi-title, .cat-item a,
.price-tag,.footer-link-block-title,strong.search-highlight,
.common-faq-topics-title,.contact-form-sm-title,div.wpcf7-mail-sent-ok,
.contact-form-sm .wpcf7-submit
{color: #fff;}
li,p,.read-more,.ecomrc-txt,::-moz-selection,::selection,#widget-area .cat-item a,#partners-sec p,.workflow-tagline,.ie-contact-form label,.time-lbl,.price-lbl{   color: #434244;}
.ecomrc-title,.trial-block-title,.this-post-title,.widget-title,
.recent-post-title,.more-post-title,.license-title,#partners-sec h3,.page-main-title
{ color: #2b2f48;}
.contact-form-sm input,.contact-form-sm textarea{color: #48516e;}
.time-feature-block-txt{color:#fdc689;}
footer .share-icon,.this-post-date,.footer p,.payment-icon i,.footer-link-block a,.footer-link-block li,
.footer-mid-item i,.highlight-text,.highlight-title,.payment-method-item i{color: #7383b0;}
li.current-menu-item a,.this-post-cat,.widget .cat-item a:hover, .widget li:hover:before,.ie-supports .features-item:hover .ie-support-i, .ie-supports .features-item:hover .ie-support-title,.listed li,.payment-icon:hover i,.payment-method-item i:hover,.footer-link-block a:hover,
.ie-location,.theme-txt-color,.close-btn,.ing:before,
.service-sm-tagline,.service-sm-title,.nav>li>a:hover, .nav>li>a:focus,.menu-item a:hover,
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus,
.ie-pricing:hover .price-lbl-title,.print-btn i,.highlight-txt,a:hover,footer .share-icon:hover,.tip-txt,.features-item .more-link,.features-item-title,.highlight-txt,.discount-block-title,.link-tag,.support-mega-icon {color: #f15b22}
.this-post-share,.this-post-share .share-icon,.ie-contact-info-this,
a,.top-menu,.menu-item a,.service-details-link,.page-header,.up-txt,.help-topic-title
{  color: #1a3a40;}
.share-icon,.recent-post-date,.action-right{color: #9a9da3;}
.ie-support-i{color: #304d52;}
.ie-support-title,.ie-contact-title, .ie-handy-link-a,.faq-q,
.faq-list li::before
 {color: #252525;}
.btn-trial-a,.btn-trial-a:hover{color: #27ae60;}
.lite-txt {color: #b3bcd7}
.ie-achievement-count,.review-icon,.review-name{ color: #fdeb91;}
.btn-plan,.service-order-title{color: #000000}
.price-lbl-title{color: #556080;}
.service-order-txt{color:#414042}
.step-txt .flex-direction-nav .flex-next{color:#ed6733}
.iso-pdf,.site-logo{color: transparent;}
/*text-decoration*/
.link-tag{text-decoration: underline;}

/*common css*/
body{background: #f3f1f3;padding-right: 0 !important;}
html{margin-top:0 important;}
.container-fluid{width: 1250px;padding-right:0;padding-left:0;}
a:active, a:focus{outline : 1px solid rgba(139, 139, 139, 0.05)!important;}
.space{margin: 40px 0px;}
.gap{margin: 40px 0;}
.dbl-space{margin: 80px 0px;}
.sm-line{width: 50px;
height: 5px;
border-top: 5px solid #f15b22;
border-radius: 2px;margin: 15px 0px;
}
.vl{height: 18px;width: 1px;margin: 0 10px;background-color: #1a3a40;vertical-align: middle;}
.seperator{margin:80px 0;border-top: 8px solid #f3f1f3;}
.slim-seperator{border-bottom: 3px solid #f3f3f3;margin:40px 0;}
.diff-seperator{margin-top: 10px;}
.sm-line{width: 50px;
height: 5px;
border-top: 5px solid #f15b22;
border-radius: 2px;
}
.overlay{background-color: rgba(26, 58, 64,0.4);}
.gap-sm{margin:30px 0}
.screen-reader-text{
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}
.screen-reader-text:focus {
    z-index: 100000;
    clip: auto !important;
    left: 5px;
    top: 5px;
    width: auto;
    height: auto;
}
#main-content{background:#ffffff;}
.short-spanl{width: 30px;height: 1px;background:#43585c;margin:20px 0; }
/* Images*/
.round-img img{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 3px solid #efefef;
    -o-object-fit: cover;
       object-fit: cover;
}
/*button*/
.btn-download{
    opacity: .9;
    padding: 5px 10px;
    margin: 10px auto;
    background: #82b440;
    border-radius: 5px;
    font-size: 1rem;
}
.btn-support{
    width: 220px;
    height: 50px;
    background: #304d52;
    border: 1px solid #23393d;
    -webkit-box-shadow: inset 0 1px 0px #597d83;
            box-shadow: inset 0 1px 0px #597d83;
    border-radius: 50px;
}
.ie-supports .btn-support{
        bottom: 100px;
}
.ie-supports .features-item:hover .btn-support {
    border: 1px solid #e9551c;
    -webkit-box-shadow: inset 0 2px 0px #ff885a;
            box-shadow: inset 0 2px 0px #ff885a;
}
.quote-btn,.acnt-btn{
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 2px 0px #ff885a;
            box-shadow: inset 0 2px 0px #ff885a;
}
.btn-trial-a{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 320px;
    height:70px;
    padding:10px 20px;
    border: 1px solid #27ae60;
    border-radius: 3px;
    text-decoration: none;
    -webkit-transition: all 150ms ease-out;
            transition: all 150ms ease-out;
}
.btn-trial-a:hover{ color: #27ae60;}
.theme-btn-dark{
    opacity:.80;
    width:auto;
    padding: 10px 20px;
    background: #1a3a40;
    border-radius: 50px;
    -webkit-box-shadow: inset 0 2px 0px #304d53;
            box-shadow: inset 0 2px 0px #304d53;
}
.theme-btn-dark:hover{
-webkit-transition: opacity .150ms linear;
transition: opacity .150ms linear;
}
.losted-main .theme-btn-dark{
    margin:45px auto;
}
.test-btn{
    width: 160px;
    height: 45px;
    padding: 12px;
    border: 1px solid #e9551c;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 1px #ff895c inset;
        box-shadow: 0px 1px 1px #ff895c inset;
    font-size: 19px;
    line-height: 19px;
    -webkit-transition: background .7s linear;
    transition: background .7s linear;
}
.test-btn:hover{background: #e9551c;}
.btn-plan{border: none !important;margin: 0!important;}
.order-btn{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 36px;
    margin: 12px;
    border: 1px solid #f15b22;
    color: #fff !important;
-webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}
.order-btn:hover{background: transparent!important;}
.print-btn{border: 1px solid #f15b22;}
.action-btn{
	height: 50px;
    width: 200px;
    margin: 10px auto;opacity:.9;
    background: #1a3a40;
-webkit-transition: opacity .7s ease-out;
transition: opacity .7s ease-out;
    }
    .btn-tab{
    padding: 10px 25px;
    margin-right: 10px;
    background: #556080;
    border: 1px solid #4d5774;
    border-radius: 25px;
    -webkit-box-shadow: inset 0 2px 0px #7a85a3;
            box-shadow: inset 0 2px 0px #7a85a3;
}
.btn-tab:hover,.btn-tab:focus,.btn-tab:active {
    border: 1px solid #f15b22;
    -webkit-box-shadow: inset 0 2px 0px #ff885a;
            box-shadow: inset 0 2px 0px #ff885a;}
/*header*/
/* Top Menu */
.top-menu{height: 55px;padding: 5px 0;background-color: #f3f1f3;}
.share-icon-set{margin: 10px 0;}
.share-icon{margin: 0 5px;}
/* Nav menu*/
.site-menu{height: 70px;background-color: #fff;}
.navbar{margin-bottom: 0!important}
.nav>li>a:hover, .nav>li>a:focus,.menu-item a:hover,
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{background:transparent;}
.fixed-menu{
    will-change: transform; 
    z-index: 100;
    border-bottom: 2px solid #ed6937;
    transition: top 150ms ease-out;
    -moz-transition: top 150ms ease-out;
    -webkit-transition: top 150ms ease-out;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.fixed-menu #menu-main-menu{ margin: 5px 0;}
.navbar .order-btn>a{ 
    width: 120px;
    height: 35px;
    padding: 10px 15px !important;
    margin: 15px auto !important;
    background:#f15b22!important;
    border-radius: 5px!important;
    font-size: 15px!important;
    color: #fff !important;
}
.navbar .order-btn:hover{
    -webkit-box-shadow: none;
        box-shadow: none;
  color: #fff !important;
}
/*Site logo*/
.site-logo{

    width: 165px;
    height: 47px;
    margin: 5px 0px;
    margin-top: 15px;
    background: url(images/image-editing-logo.png) no-repeat;
    background-size: contain;
    text-indent: -100%;
}
.ie-icon {
    width: 124px;
    height: 124px;
    background: url(images/ie-icon.png) no-repeat;
    background-size: cover;
    border: 10px solid #fff;
}
/*footer*/
.footer{
    bottom: 0;
    right: 0;
    background:#1c2635;    
}
.footer-top{height:410px;}
#footer-top-content{margin-top: 160px;}
.footer-link-block-title{margin-bottom:40px;margin-top: 0;}
.footer-link-block li{margin-bottom:20px;}
.footer-mid {height:180px;background: #2b3443;}
#footer-mid-content{margin:40px 0;}
.footer-mid-item-content{margin: 0 60px;}
.item-divider{border-right: 1px solid #1c2635}
.highlight-title{margin:20px 0 15px 0;}
.footer-bottom{height:140px;}
.copyright-info{margin: 65px 0;}
.copyright-txt{margin:60px 0;}
.payment-method{    margin: 50px 0;}
.payment-method-item{padding:0 10px;}

footer .share-icon {margin: 0 5px;}
.iso-pdf{
	left: 5px;
	bottom: 0;
	width: 172px;
	height: 182px;
	background: url(images/ISO-certified-quality-image-editing.png) no-repeat;
	background-size: contain;}
/*template parts*/
/*Trial Block*/
.trial-block{background: #f6f4f6}
.trial-block-title{line-height:3rem;}
#trial-banner{ background: url(images/ie-trial-banner.jpg) no-repeat;}

/*Ecommerce*/
.ecomrc-block{padding: 90px 0px;}
.ecomrc-txt{ 
    margin: 35px auto;
    line-height: 36px;
}
.ecomrc-title{line-height: 90px;}
/*Power to you*/
.service-list-block{padding: 70px 0;}
.price-tag-bg,.price-tag{ left: 10px;}
.price-tag-bg{
    width: 0;
    height: 80px;
    border-left: 35px solid #556080;
    border-right: 35px solid #556080;
    border-bottom: 13px solid transparent;
    }
.price-tag{width: 65px;}
.service-order{
    height: 200px;
    margin-bottom: 30px;
    border:1px solid #dfdfdf;    
}
.service-order-img{padding-left: 0;padding-right: 0;}
.no-pad{padding-left: 0;padding-right: 0;}
.service-order-img img{width:auto;height:168px;}
.service-order-title{margin: 15px 0}
.service-order-top{margin-top:0}
.service-order .order-btn{
padding: 6px 20px;
    width: 160px;
    height: 35px;
    font-size: 17px;
}
.service-order-action{padding:35px 48px 20px 30px}
.service-order-action li{margin:15px 0;}
/*Parterns*/
#partners-sec{ padding: 80px 0px;}
#partners-sec p{
    margin-top: 20px;
    margin-bottom: 45px;
line-height: 30px;
}
.partner-link{height: 56px;background-repeat: no-repeat;}
.partner-2{
    background: url("images/partners.jpg") 0 0 no-repeat;
    width: 218px;
}
.partner-3{
    background: url("images/partners.jpg") -221px 0 no-repeat;
    width: 210px;
}
.partner-4{
    background: url("images/partners.jpg") -435px 0 no-repeat;
    width: 212px;
}
/* Volume Block*/
.volume-block-wraper{
    padding: 50px 0px;
    background: #556080;
}
.volume-block{
    height: 445px;
 padding: 45px 30px 30px 30px;
margin: 40px 0px;
    background: #606b8d;
    border-radius: 5px;
    border: 2px solid #677396;
    -webkit-box-shadow: 0px 0px 5px 0px #515c7c;
            box-shadow: 0px 0px 5px 0px #515c7c;
    }
.volume-block-title{margin-bottom: 30px;line-height: 36px;}
.volume-block-txt{margin-bottom: 40px;line-height: 28px;}

/* Achievments*/
.ie-achievement-count i{margin-right:10px;vertical-align: middle;}
.ie-achievement{padding: 80px 0;background:url(images/ie-achievements-bg.png) no-repeat;background-size: cover;}
.ie-achievement-count,.ie-achievement-txt{margin-left: 20px;}
/* Fast Track Features*/
.fast-track-features{background: #556080;}
.fast-feature-icon{   
    width: 65px;
    height: 60px;
}
.manager-icon{background: url(https://imageediting.com/wp-content/uploads/2017/01/fast-track-features-icons.png);}
 .nonstop-icon{background: url(https://imageediting.com/wp-content/uploads/2017/01/fast-track-features-icons.png) -65px 0px;}
.privacy-icon{background: url(https://imageediting.com/wp-content/uploads/2017/01/fast-track-features-icons.png) -133px 0px;}
.cloud-icon-light{background: url(https://imageediting.com/wp-content/uploads/2017/01/fast-track-features-icons.png) -198px 0px;}
 .secure-icon{background: url(https://imageediting.com/wp-content/uploads/2017/01/fast-track-features-icons.png) -262px 0px;}
.quality-icon{background: url(https://imageediting.com/wp-content/uploads/2017/01/fast-track-features-icons.png) -329px 0px;width: 56px;
}
.fast-feature-item {padding: 70px 0px 42px 0px;}
.grid-hl{border-bottom: 1px solid #677396;}
.grid-vl{
    min-height: 240px;
    border-right: 1px solid #677396;
}
/* Contact form small */
.contact-form-sm {padding: 40px 30px;background: #556080;}
.contact-form-sm-li{margin-bottom: 20px;}
.contact-form-sm input{
    height: 42px;
    padding: 15px;
    border: 1px solid #48516e;
    border-radius: 3px;
}
.contact-form-sm textarea{
    min-height: 80px;
    padding: 15px;
    border: 1px solid #48516e;
    border-radius: 3px;
}
div.wpcf7-mail-sent-ok{border: #f15b22;}
    .contact-form-sm .wpcf7-submit{
    height: 40px;
    padding: 6px;
    box-shadow: inset 0 2px 0px #ff885a;
    border-radius: 5px;
    }
    .form-arw{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 80px 0 0;
    border-color: #556080 transparent transparent transparent;
    line-height: 0px;
    _border-color: #007bff #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    margin-right: 20px;
    margin-bottom: 30px;
    }
/*page template*/
.page-banner{
	height: 400px;
    padding: 135px 0px;
 	background-size: cover;
}
.page-main{ padding: 90px 0px;}
.page-header{padding: 30px 0;margin-bottom: 80px; border-bottom: 1px dotted #eee;}

/*Page Specific */
/*Page: Home */
.front-main{background: #f3f1f3;}
.home #main-content{background: #f3f1f3;}
.features{padding: 70px 0;}
.features-item-icon{
    width: 60px;
    height: 60px;
    background-position: center; }
    .features-item{ padding: 0px 40px;}
.features-item-title{margin:20px 0;}
.features-item .more-link{ bottom: 0;}
.speed-meter-icon{background: url('https://imageediting.com/wp-content/uploads/2017/01/feature-icons.png') no-repeat 0px 0;}
.vault-icon {background: url('https://imageediting.com/wp-content/uploads/2017/01/feature-icons.png') no-repeat -63px -3px;}
.cloud-icon{background: url('https://imageediting.com/wp-content/uploads/2017/01/feature-icons.png') no-repeat -126px -4px;}
/*Page: About*/
#about-banner{background: url("images/about-image-editing-min.jpg") no-repeat;}
#about-main.page-main{background: #f6f4f6;}                                                                                        
.ie-vision-icon{ background: url("images/about-us-icons-min.png") no-repeat 0 0;}
.ie-skills-icon{ background: url("images/about-us-icons-min.png") no-repeat -82px 0;}
.ie-bulb-icon{ background: url("images/about-us-icons-min.png") no-repeat -162px 0;}
.ie-mission-icon{ background: url("images/about-us-icons-min.png") no-repeat -239px 0;}
/*Page: Contact*/
#contact-banner{background: url("images/ie-contact-us.png") no-repeat;}
.ie-contact-info{
    height: 170px;
    padding-left: 10%;
    padding-right: 25px;
    margin-top: 30px;
    margin-left: 25px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(193, 193, 193, 0.75);
            box-shadow: 0px 0px 5px 0px rgba(193, 193, 193, 0.75);
}
.ie-contact-info img{border: 10px solid #fff;}
.ie-contact-box{
    padding: 30px;
    background: #f9f9f9;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(210, 210, 210, 0.75);
            box-shadow: 0px 0px 10px 0px rgba(210, 210, 210, 0.75);
}
.ie-contact-box i{padding-right: 10px}
.ie-contact-form{
    padding: 40px 0;margin: 30px 0;
    border-top: 1px solid #ebebeb;
}
.ie-contact-form .wpcf7-form-control{
    height: 60px;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
}
.ie-contact-form textarea{min-height: 200px;}
.ie-contact-form .wpcf7-form-control:focus{outline: 1px solid #f15b22;}
 
.ie-contact-form .wpcf7-submit{
    width: 340px;
    height: 65px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 2px 0px #ff885a;
            box-shadow: inset 0 2px 0px #ff885a;
}

.ie-location{
    padding: 10px 0px;
    border-bottom: 4px double #f5f5f5;
}
.r-gap{padding-right: 10px;}
.l-gap{padding-left: 30px;}
#ie-map-marker{
    padding: 130px 0px;
    background: url("images/map-min.jpg") no-repeat;
    background-size: cover;
}
#contact-center{    border: 1px dashed #f15b22;
    padding: 40px 0px;}
    .map-station-name{margin-right: 50%;
    padding: 10px 0;border-top: 3px solid #f15b22;}
/*Page: Clients*/
#client-banner{background: url("images/ie-client-banner.jpg") no-repeat;}
.clients-main-p,.partner-brief{margin-bottom: 80px;}
.partner-brief{margin-top: 60px;}
/*Page: Pricing*/
#pricing-banner{background: url(https://imageediting.com/wp-content/uploads/2016/11/pricing-banner-min.png) no-repeat;}
#pricing-main{ background: #f6f4f6;}
.pricing-tbl-wraper{
    margin: 0px 40px;
    margin-top: 50px;
    padding-left: 0;
    padding-bottom: 60px;
    -webkit-box-shadow: 0px 7px 7px 1px #cbcbcc;
            box-shadow: 0px 7px 7px 1px #cbcbcc;
    border-radius: 5px;
}
.pricing-tbl-head{
    height: 180px;
    padding: 0 30px;
    background: #fefefe;
    background: -webkit-gradient(linear,  left top, left bottom,  from(#fefefe),color-stop(94%, #f3f3f3),to(#f3f3f3));
    background: linear-gradient(to bottom,  #fefefe 0%,#f3f3f3 94%,#f3f3f3 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 ); 
    border-bottom: 1px solid #e2e3e8;
}
.pricing-tbl-head-inner{
    padding: 0px 30px;
    padding-top: 20px;
    -webkit-box-shadow: 0px -7px 10px 0px #8c92a3;
            box-shadow: 0px -7px 10px 0px #8c92a3;
}
.pricing-tbl-inner{   
 height: 60px;
 padding: 15px 35px;
border-bottom: 1px solid #e2e3e8;
}
.pricing-tbl-col{   
 width: 25%; 
background: #fefefe;
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe),color-stop(94%, #f3f3f3),to(#f3f3f3));
    background: linear-gradient(to bottom, #fefefe 0%,#f3f3f3 94%,#f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 );
}
.pricing-cols {
    background: #fefefe;
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe),color-stop(94%, #f3f3f3),to(#f3f3f3));
    background: linear-gradient(to bottom, #fefefe 0%,#f3f3f3 94%,#f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 );
}
.price-lbl-title{
    padding: 20px 0 20px 0;
    border-top: 1px dashed #d3d5db;
    line-height: 30px;
}
.pricing-tbl-col ul{
    margin-top: 60px;
    padding-top: 30px;
}
.pricing-tbl-lg{ width: 75%;}
.pricing-tbl-lg ul{padding-left:0}
.pricing-tbl-sm{
    width: 25%;
    margin-top: 60px;
    padding-top: 30px;
    background: #fefefe;
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe),color-stop(94%, #f3f3f3),to(#f3f3f3));
    background: linear-gradient(to bottom, #fefefe 0%,#f3f3f3 94%,#f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 );
}
.pricing-tbl-price:hover{will-change: transform; 
    -webkit-box-shadow: 0px 0px 10px 0px #8c92a3;
    box-shadow: 0px 0px 10px 0px #8c92a3;
    -webkit-transform: scale(1);
    transform: scale(1);
    -ms-transform: scale(1);
}
.pricing-tbl-icon{
    width: 80px;
    height: 80px;
    margin: 30px auto;
    margin-top: 0;
    background: url(https://imageediting.com/wp-content/uploads/2017/01/happy-face-pricing.png) no-repeat;
}
.ie-pricing:hover .pricing-tbl-icon{background: url(https://imageediting.com/wp-content/uploads/2017/01/ie-happy-pricing.png) -81px 0px no-repeat;}
.ie-hotline-list,.pricing-tbl-hrs,.pricing-tbl-tbody,.pricing-tbl-head,.pricing-tbl-price{padding-left:0;margin-bottom: 0;}
.ie-pricing .order-btn{
    width:auto;
    margin: 30px auto;
    background: #556080;
    -webkit-box-shadow: inset 0 2px 0px #7a85a3;
    box-shadow: inset 0 2px 0px #7a85a3;
}
.ie-pricing:hover .order-btn,.ie-pricing .order-btn:hover {
    -webkit-box-shadow: inset 0 2px 0px #ff885a;
    box-shadow: inset 0 2px 0px #ff885a;
}
.my-plan{border-bottom: none;}
.my-plan .active{ 
    margin: 20px 0px;  
    border: 1px solid #e1e1e1;
}
.tab-content .pricing-tbl-head{height: auto;padding-top:30px}
/*Page: Support*/
#support-banner { background: url(images/ie-support-banner-min.jpg) no-repeat;}
#support-main {background: #f6f4f6;}
.ie-supports .features-item {padding: 0px 30px;}
.ie-support {
    width: 133px;
    height: 133px;
    padding: 30px 20px;
    border-radius: 50%;
    }
.ie-support-block {
    top: -65px;
    top: -65px;
    padding: 30px;
    padding-top: 80px;
    border: 1px solid #ededed;
    border-radius: 5px;
}
.ie-support, .ie-support-block {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(193, 193, 193, 0.75);
            box-shadow: 0px 0px 5px 0px rgba(193, 193, 193, 0.75);
}
.support-contact {word-break: break-word;}
/*Page: FAQ*/
#faq-banner { background: url(images/ie-faq-banner-min.jpg) no-repeat;}

#faq-main .page-main-title{
    border-left: 5px solid #f15b22;
    padding: 5px 25px;
}

#common-faq-topic-box,.guide-link-box{background: rgba(243,241,243,.3);}
.common-faq-topics-box{ background: #fcfbfc;}
.common-faq-topics-title{padding: 20px 0;background: #556080;}
.common-faq-topics li{padding: 15px 0px;
    border-bottom: 1px solid #f3f1f3;
}
.common-faq-icon{
width: 50px;height: 50px;
  margin-right: 15px;
border-radius: 50%;vertical-align: middle;
}
.neck-join-icon{background:url('images/ie-help-topics-icons.png') 0 0;}
.clip-path-icon{background:url('images/ie-help-topics-icons.png') -50px 0;}
.masking-icon{background:url('images/ie-help-topics-icons.png') -100px 0;}
.trial-faq-icon{background:url('images/ie-help-topics-icons.png') -200px 0;}
.up-down-icon{background:url('images/ie-help-topics-icons.png') -150px 0;}
.img-privacy-icon{background:url('images/ie-help-topics-icons.png') -300px 0;}
.copyright-icon{background:url('images/ie-help-topics-icons.png') -350px 0;}
.quote-req-icon{background:url('images/ie-help-topics-icons.png') -250px 0;}
#faq-block{border-top: 1px solid #f3f1f3;}
.faq-block-title{margin: 15px 0px;}
.faq-ans-box{padding: 40px;padding-left: 0;}
#faqAccordion .panel{background:none;-webkit-box-shadow: none;box-shadow: none;}
#faqAccordion .panel-body{border-top: 5px solid #f15b22;}
#faqAccordion .panel-heading{    background-color: rgba(243,241,243,.1);}
.ing:before{content:'\f059';padding-right: 10px;vertical-align: text-bottom;}
.help-topic-block{margin: 20px 0px;}
.guide-icon{width: 84px;background: url('images/ie-help-center-icons.png') 0px 0px;}
.acc-icon{width: 84px;background: url('images/ie-help-center-icons.png') 362px 0px;}
.bill-icon{width: 85px;background: url('images/ie-help-center-icons.png') 170px 0px;}
.app-icon{width: 105px;background: url('images/ie-help-center-icons.png') 275px 0px;}
.low-txt{width: 88px;background: url('images/ie-help-center-icons.png') 88px 0px;}
.faq-list{
    padding-left: 0;
    list-style-type: none;
}
    .faq-list-li{padding-top: 50px;padding-bottom: 30px;border-bottom: 1px solid #f3f1f3;counter-increment: step-counter;}

.faq-list li::before {
  content: counter(step-counter);
  margin-right: 25px;
}
/*Page: Policy*/
#policy-banner{background: url("images/IE-PrivacyPolicy-Banner-min.jpg") no-repeat;}
.policy-title{padding: 5px 25px;border-left: 5px solid #f15b22;}
.policy-list-li{
	padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f3f1f3;
    counter-increment: step-counter;
}
.help-topic-icon{height: 84px;
    margin-bottom: 20px;background-repeat: no-repeat;}
/*Page: Terms*/
#tnc-banner {background: url(images/IE_Terms-Banner-min.jpg) no-repeat;}
.tnc-faq-ans-li{margin: 10px 0;list-style-type: upper-roman;}
.tnc-list li{margin-bottom:20px;padding-left: 15px;}
.lay-line{
    width: 50%;
    border-top: 5px solid #f15b22;
}
.tnc-topic-list{padding-left: 0;}

/*Page: Portfolio*/
.mask{
    padding-top: 100px;
    background: rgba(241,91,34,.90);
    z-index: 99;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.work-tab{border-bottom: none;}
.portfolio-item{ height: 280px;margin: 20px auto;border: 1px solid #dedede;}
.portfolio-item:hover{
-webkit-box-shadow: 0px 0px 10px 1px #d6d4d6;
        box-shadow: 0px 0px 10px 1px #d6d4d6;
}
.portfolio-item-title {
    bottom: 0;
    height: 50px;
    padding: 5px;
    background: rgba(77,87,116,.90);
}
/*Page: Service*/
.twin-service{text-decoration: underline;}
/*Page: Misc*/
#payment-banner{background: url(https://imageediting.com/wp-content/uploads/2017/02/image-editing-payment-options.jpg) no-repeat;   }
#getstart-banner{background: url(images/image-editing-getting-started-banne.jpg) no-repeat;}
#portfolio-banner{background: url("images/image-editing-portfolio.jpg") no-repeat;}
#base-banner{background: url("images/image-editing-knowledge-base.jpg") no-repeat;}
#thnks-banner{background: url("images/thanku-banner.jpg") no-repeat;}
#losted-banner{background: url("images/ie-404-banner.jpg") no-repeat;}
.sitemap-header{border-bottom: 2px solid #f3f1f3}
.payment-opts{margin: 20px 0;}
/*Slider: Review*/
.flex-wraper{background: #f3f1f3;line-height: 30px;}
.ie-flexslider .flex-prev{left: 5%;}
.ie-flexslider .flex-next{    right: 5%;}
.ie-flexslider .flex-prev,.ie-flexslider .flex-next{ z-index: 1;top: 50%;height: 55px;width: 35px;}

.ie-flexslider .flex-prev{
    left: 160px;
    background:url("https://imageediting.com/wp-content/uploads/2017/01/feature-icons.png") no-repeat -241px 0px;
}
.ie-flexslider .flex-next{
    right: 186px;
    background: url("https://imageediting.com/wp-content/uploads/2017/01/feature-icons.png") no-repeat -280px 0px;
    }

.review-slider .flex-control-paging{display: none!important;}
.review-wraper {
    background: url(images/testimonal-bg.png) no-repeat;
    background-size: cover;
    }
    .review{padding: 85px 165px;}

.review-txt{margin: 20px 0px;line-height: 34px;}
.review-title{
    margin:30px 0px 60px 0px;
    line-height: 80px;
}
/*Slider: Workflow*/
#workflow .flex-control-nav{height: auto;top: 30%;}
.workflow-block{ height: 100vh;{background: #f6f4f6;}
#workflow{margin: 80px 0px;}
.workflow-head{margin-bottom: 60px;}
.workflow-title{line-height: 100px;}
.work-step{line-height: 30px}
/* Photopedia Home + Single*/
.last-post{border: 1px solid #e8ebea;}
.recent-post-li img{    
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;}
.related-post img{-o-object-fit: cover;object-fit: cover;height: 190px;}
.more-post-title{ margin-top: 70px;}
.related-post{margin: 30px 0; }
.related-post-block{ 
    height: 160px;
    padding-left: 0;
    border: 1px solid #f3f1f3;  
    }
.related-post-block li{padding: 2px 10px;border-top: 1px solid #f3f1f3;}
.recent-post-img{min-height: 190px;}
.related-post-img{
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
}
.more-post-share{
    bottom: 10px;
}
.this-post-title{
    margin-bottom: 15px;
    line-height: 2.3rem;
}
.this-post-info i{padding-right: 5px;}
.this-post{padding: 40px; border: 1px solid #e8ebea;}
.this-post-main p{margin: 20px auto;}

.this-post figure,.this-post img{margin: 20px auto;}
.share-fb:before {content: "\f09a";}
.share-tweet:before {content: "\f099";}
.share-gplus:before {content: "\f0d5";}
.share-pin:before {content: "\f0d2";}
.share-in:before {content: "\f0e1";}
.this-post-date i{padding-right: 10px;}
#categories-2{background: #fcfbfc;}
/* Sidebar Category */
.post-title-link{margin: 10px 0}
.cat-list-box-wraper {
    padding: 40px 30px;
    background: url(https://imageediting.com/wp-content/uploads/2016/12/background-remove-by-image-editing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.cat-list-box{background: rgba(26,58,64,.8);}
.year-list-box{padding: 60px 45px;}
    .cat-list-box,.year-list-box{margin-bottom: 40px;}
    .log-year{width: 80px;
    background: rgb(26,58,64);
    padding: 10px;border-radius: 20px;
    }
    .log-posts{
        margin-left: 40px;
        padding: 40px 60px;
        border-left: 1px solid rgb(26,58,64);
    }
    .archive-list{margin-bottom: 0}
    .post-date{margin: 0}
    /* Sidebar - Discount Block */
.discount-block{background:#fffef6;}
.discount-block ul{padding: 40px 20px}
.discount-block-icon{
    height: 60px;
    width: 50px;
    background: url("https://imageediting.com/wp-content/uploads/2017/01/feature-icons.png") no-repeat -188px 0;
}
.discount-block-title{    margin: 30px 0 5px 0;}
/*action */
.license-box,.action-meta-box,.action-rating,.action-download-stat{
    background: #fcfbfc;
    margin-bottom: 30px;
   padding: 15px;
    border: 1px solid #f3f1f3;
    border-radius: 4px;    
}
.action-meta-td{
    width:50%;
    vertical-align: top;
    padding-bottom: 15px;
}
.action-meta-name{padding-right: 10px;}
.license-td,.action-list-item-td{vertical-align: middle; }
/* Widget*/
.widget-title{
    background: #f3f1f3;
    padding: 15px 0px;
    line-height: 1.34rem;
}
#widget-area .widget {
    margin-bottom: 30px;
    padding-left: 0;
    background: #fcfbfc;
    border: 1px solid #f3f1f3;
}
.widget ul{padding-left:0;margin-bottom: 0px; }
.widget li{padding: 20px 25px;border-bottom: 1px solid #f3f1f3;}
.widget .cat-item a:hover, .widget li:hover:before{color: #f15b22 !important;}
.widget .cat-item a:before {
    padding-right: 10px;
    content: "\f111";
}

/* Misc */
.slides{will-change: transform; -webkit-transform: translatez(0);
    transform: translatez(0);}
.semi-title{ margin: 40px 0px;}
.service-sm-tagline{ line-height: 26px;}
.service-sm-title{line-height:140px;}
.service-sm-dark{ background: #f6f4f6}
.ie-hotline{ margin-right: 30px;}
.ie-hotline i{padding-right: 10px;}
.service-sm-txt{margin-bottom: 65px;}
.service-sm{ padding: 100px 0px;}
.service-sm-dark .service-sm-detail{ padding-right: 130px;}
.service-sm .service-sm-detail { padding: 0px 65px;}
.this-service p{margin-top: 30px;}
.round-box{
    bottom: 0;
    left: -8px;
    width: 15px;
    height: 15px;
    background: rgb(26,58,64);
    border-radius: 50%;}
.single-services #main-content{border-top: none;}
.ie-vision .features-item-icon{width: 80px;height: 80px;}
.this-service{ margin-bottom: 90px;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background-color: #fff;}
.time-feature-block{background:#556080;height: 563px;padding:150px 0px;}
.time-feature-block-txtmargin-top: 10px;}
.time-feature{margin-top: 20px;}
.entry-title {padding: 15px 0px;}
.form-group {margin-bottom: 0;}
.map-station-name{border-top: 3px solid #f15b22;
    margin-right: 50%;
    font-weight: 700;
    padding: 10px 0;}

/* Media Query*/
@media only screen and (min-width : 2220px){
.container-fluid { width: 1920px;}
}
@media only screen and (min-width:1920px){
.discount-block{height:605px;}
}

@media only screen and (min-width : 1388px) and (max-width : 1680px){
.container-fluid {width: 1170px;}
.round-img img {width: 150px;height: 150px;}
.price-lbl-title {font-size: 21px;}
.volume-block-title {font-size: 42px;}
.ie-support-block{height: 370px;}
.ie-icon{width: 80px;height: 80px;}
.ie-contact-info{height: 220px;padding-left: 6%;}
}

@media only screen and (max-width : 1388px){
.container-fluid { width: 90%;}    
.ie-support-block{padding-top: 60px;}
.ie-icon{
width: 60px;
height: 60px;
border: 5px solid #fff;
}
.ie-contact-info{height: 220px;}
.volume-block-title {font-size: 2rem;}
.pricing-tbl-inner{padding: 15px;}
.price-lbl-title{font-size: 21px;line-height: 21px;}
.common-faq-topics{padding-left:0}
.dropdown-menu a {width:100%; }
}
@media only screen and (max-width : 1388px) and (min-width : 1200px){
.features-item-title{font-size: 1.2rem;}
.features-item {padding: 0px 25px;}
.volume-block-title {font-size: 2rem;}
.features-item p{font-size: 1.2rem;}
.workflow-title { font-size: 68.22px;}
.services-order-sec {width: 775px;}
.service-order-title {  margin: 20px 0 10px 0;}
.round-img img {width: 150px;height: 150px;}
}
@media only screen and (max-width : 1260px){
#ie-map-marker{padding: 60px 0px;} 
.ie-contact-info i{float: left;padding: 5px;}
.ie-contact-info-this{overflow-wrap: break-word;}
.ie-contact-info{height: 250px;}
#navcollapse .menu-item a{background: none;color: #fff;text-shadow: 1px 1px 0px #071416;    }
#navcollapse .dropdown-menu a{height: auto;color:#7aaeb8;}
#navcollapse .menu-item a:hover,#navcollapse .menu-item a:active{color: #f15b22;}
.popup-box .order-btn {height: 45px;width: 160px;padding: 10px;}
.features-item p{font-size: 1.2rem;}
.volume-block-title {font-size: 36px;}
.ie-achievement-count, .ie-achievement-txt {margin-left: 25px;}
.ie-achievement-txt{font-size: 21px;}
.ie-achievement-count{font-size: 42px;}
.call-my-modal, .features-item-title, .discount-block-title, .post-date {font-size: 1.2rem;}
.features-item {padding: 0px 15px;}
#MyUploadForm{right: 0!important;}
.neck-join-icon{background:url('images/ie-help-topics-icons-sm.png') 0 0;}
.clip-path-icon{background:url('images/ie-help-topics-icons-sm.png') -38px 0;}
.masking-icon{background:url('images/ie-help-topics-icons-sm.png') -75px 0;}
.up-down-icon{background:url('images/ie-help-topics-icons-sm.png') -113px 0;}
.trial-faq-icon{background:url('images/ie-help-topics-icons-sm.png') -150px 0;}
.quote-req-icon{background:url('images/ie-help-topics-icons-sm.png') -188px 0;}
.img-privacy-icon{background:url('images/ie-help-topics-icons-sm.png') -224px 0;}
.copyright-icon{background:url('images/ie-help-topics-icons-sm.png') -263px 0;}
.fast-feature {font-size: 18px;line-height: 20px;}
.common-faq-topics li{padding: 15px 30px;}
.common-faq-icon{width:37px; height: 38px;}
.service-sm-txt {margin-bottom: 20px;}
.page-banner-title {font-size: 60px;}
.review-title,.service-sm-title {
    margin: 10px auto;
    font-size: 46px;
    line-height: 80px;
}
.review {padding: 40px;}
.service-sm img{margin: 50px auto;}
.service-sm .service-sm-detail {padding: 0px 15px;}
.footer-mid-item-content {margin: 0 auto;}
.workflow-title { font-size: 62.22px;}
.service-order-title { font-size: 1.3rem;}
.pricing-tbl-col .order-btn {
    width: 135px;
    padding: 10px 8px;
    font-size: 1rem;
}
.footer,.footer-mid,.footer-top,.footer-bottom{    height: auto;}
.footer{padding-bottom: 130px}
.time-feature-block{height: 450px;padding: 100px 0px;}
.time-feature-block-title{font-size: 39px;}
.time-feature-block-txt {font-size: 19px;}
.call-my-modal {    top: 30%;}
.popup-box-content{width: 90%;height: 100%}
.popup-box .order-btn{left:0; right:0;}
.popup-box-title {font-size: 2.51375rem;}
.popup-box-details{padding: 20px 50px;}
.services-gallery-block .close{font-size: 34px;}
.dropdown-menu{width: 100%;}
#free-trial-box{overflow: auto;max-height: 100%;min-width: 100%;}
.features-item { margin-bottom: 20px;}

}

@media only screen and (max-width : 1024px){
.workflow-title { font-size: 30px;line-height: 38px;}
#workflow .flex-control-paging{display: none;}
.fi-menu {height: 70px;}
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
.ie-flexslider .flex-prev,.flexslider3  .flex-next{top: 50%;}
.ie-flexslider .flex-prev{left: 20px;}
.ie-flexslider .flex-next{right: 20px;}
.workflow-block,.flex-wraper{height: auto;}
.partner-2{width: 138px;background: url("images/partners-sm.jpg") 0 0 no-repeat;}
.partner-3{width: 133px;background: url("images/partners-sm.jpg") -137px 0 no-repeat;}
.partner-4{width: 135px;background: url("images/partners-sm.jpg") -268px 0 no-repeat;}
.partner-link{background-repeat: no-repeat;}
}

@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation: portrait){
.navbar-collapse {padding:0;}
.partner-1 {width: 98px;background: url("images/partners-sm.jpg") 0 0 no-repeat;}
.partner-2 {width: 135px;background: url("images/partners-sm.jpg") -99px 0 no-repeat;}
.partner-3 {width: 134px;background: url("images/partners-sm.jpg") -233px 0 no-repeat;}
.partner-4 {width: 135px;background: url("images/partners-sm.jpg") -365px 0 no-repeat;}
.service-order-title {
margin: 20px 0 10px 0;
font-size: 1.5rem;
}
#free-trial-box {    overflow: auto;}
#free-trial-form-group,#free-trial-form-info{    width: 100%;}
}
@media only screen and (max-width : 992px){
.volume-block{height: 520px;}
.page-main-head {text-align: justify;}
.order-btn{width: 115px;padding: 6px !important;}

.ie-support-block,.top-menu,.footer-top-content-col {height: auto}
.ie-support {
    width: 90px;
    height: 90px;
    padding: 22px;
}
.ie-support-i {font-size: 3rem;}
.ecomrc-title,.page-main-title,.page-banner-title{font-size: 2rem;}
.ie-contact-info {height: 220px;margin: 20px 25px;}
.ie-achievement {padding: 20px 0;}
.ecomrc-title {line-height: 42px;}
.fast-feature-item {padding: 40px 0px;}
.grid-vl{min-height: 200px;}
.pricing-tbl-wraper{margin:0;padding-bottom: 0px;}
.page-main-title{line-height: 2.5rem;}
.page-banner-title {font-size: 38px;}
.page-banner-tagline { font-size: 18px;}
.page-banner{padding: 40px 0px;    height: 200px;}
.workflow-title {
    position: relative;
    right: auto;
    top: auto;
    text-align: center;
}
.copyright-txt{text-align: center;}
.copyright-txt,.payment-method{    margin: 20px 0;}
#footer-top-content .textwidget{    margin-bottom: 30px;}
#navcollapse{
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 0;
    right: 0;
    height: 100%;
    height: 100vh;
    width: 100%;
    background: #1a3a40;
    transition: 0.1s linear;
    animation: fadeIn 100ms linear;
}
}
@media only screen and (max-width : 767px){
.flex-control-paging{display:none}
.ie-contact-info,.service-order-img img,.workflow-block,.flex-wraper,
.service-order,.service-order-img img
{height: auto;}
.service-order-img img,.service-order-img img { width: auto;}
.step-txt,.flex-control-paging{margin:0;padding:0;}
.navbar-nav{ margin: 0px 5px;}
.navbar-nav .menu-item{
    border-bottom: 1px solid #152f34;
    box-shadow: 0px 1px 1px #1f444b;
}
#navcollapse .order-btn{margin: 12px auto}
.ie-contact-info {
    height: auto;
    margin: 20px 25px;
    padding-bottom: 20px;
}
.tnc-faq-ans{padding: 10px;}
.service-main-img { margin: 0 auto;}

.review-title, .service-sm-title,.service-main-title,#partners-sec h3 {
    font-size: 2rem;
    line-height: 2.5rem;}
.trial-block-title,.policy-title { font-size: 1.5rem;}

.full-h {
    height: 100%;
    height: 100vh;
    overflow: visible;
}
#workflow {margin: 45px 10px;}
footer .item-divider{border:none}
#partners-sec {  padding: 50px 0px;}
.partner-2{width: 139px;background: url("images/partners-sm.jpg") -95px 0 no-repeat;}
.partner-3{width: 133px;background: url("images/partners-sm.jpg") -233px 0 no-repeat;}
.partner-4{width: 135px;background: url("images/partners-sm.jpg") -364px 0 no-repeat;}
.ie-achievement-count {font-size: 28px;line-height: 28px;}
.ie-achievement-count, .ie-achievement-txt {margin-left: 0;}
.ie-achievement-txt {font-size: 21px;line-height: 30px;}
.flex-wraper{margin: 50px 0;}
.upload {font-size: 25px;}
.front-main {padding-bottom: 10px;}
.service-order .order-btn{position:relative}
.service-order-img img {float: right;}
.quote-btn, .acnt-btn{font-size: 16px}
}

@media only screen and (max-width : 767px) and (orientation: landscape){
.service-order {height: 250px;}
}
@media print {
body{line-height: 1.5em;text-align: justify;}
p,li,a,h6{font-size:13px}
h1{font-size:32px}
h2{font-size:24px}
h3{font-size:20px}
h4{font-size:16px}
h5{font-size:14px}

a{color:#f15b22}
img {max-width: 100%;}
.print-header-txt{text-align:right}
.container-fluid {width: 100%;}
h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
  page-break-inside: avoid
}
 
img {
  page-break-inside:avoid;
  page-break-after:avoid;
}
div { overflow:initial !important}
blockquote, table, pre {page-break-inside:avoid!important} 
 
ul, ol, dl {
display:block;
page-break-before: always;
page-break-after: always;
}
@page {size: auto;}

@page content {margin: 1cm 1cm 1cm 1cm;}
div.content {page: content;}

}

